@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto';
    transition: 200ms;
    outline: none;
    border: none;
}

div.asesoria-general {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.contenedor-asesoria {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    outline: 3px solid #74003e;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    margin-top: 30px;
    width: 90%;
    max-width: 800px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
}

div.filas-asesoria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
}

div.columnas-asesoria {
    top: 0;
    right: 0;
    transform: translate(0%, 0%);
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.titulo {
    font-size: 40px;
    color: rgb(143, 68, 96);
}

.asesor {
    font-size: 25px;
}

.a-ins {
    font-size: 28px;
}

.i {
    font-size: 30px;
    margin-left: 10px;
}

.horario-asesoria {
    font-size: 25px;
    background: rgb(116, 0, 62);
    padding: 2px 25px 2px 25px;
    border-radius: 3px;
    color: rgb(235, 235, 235);
}

.filas-asesoria .dos {
    align-self: center;
}

.columnas-asesoria.texto {
    outline: 3px solid rgb(116, 0, 62);
    border-radius: 3px;
    width: 50%;
    min-height: 50px;
    padding: 10px;
    font-size: 22px;
}

.columnas-asesoria.btn a {
    outline: 3px solid rgb(116, 0, 62);
    border-radius: 3px;
    padding: 5px;
    margin: 7px;
    font-size: 30px;
    color: rgb(143, 68, 96);
}

.columnas-asesoria.btn a:hover {
    background-color: rgb(116, 0, 62);
    color: rgb(235, 235, 235);
}

.filas-asesoria.tres {
    font-size: 24px;
    justify-content: flex-start;
}

a {
    text-decoration: none;
    cursor: pointer;
    margin: 8px;
}

a:-webkit-any-link {
    text-decoration: none;
    cursor: pointer;
    color: rgb(116, 0, 62);
}

@media only screen and (max-width: 1400px) {
    section.contenedor-asesoria {
        margin-bottom: 40px;
        padding: 20px;
        font-size: 20px;
        margin-top: 30px;
        min-width: 50%;
    }
    div.filas-asesoria {
        font-size: 16px;
        width: 100%;
    }
    div.columnas-asesoria {
        margin: 20px;
    }
    div.titulo p {
        font-size: 30px;
    }
    .horario-asesoria {
        font-size: 22px;
        background: rgb(116, 0, 62);
        padding: 2px 25px 2px 25px;
        border-radius: 3px;
    }
    .columnas-asesoria.texto {
        width: 40%;
        min-height: 50px;
    }
    .columnas-asesoria.btn a {
        padding: 5px;
        margin: 10px;
        font-size: 26px;
    }
    .filas-asesoria.tres {
        font-size: 18px;
    }
    .asesor {
        font-size: 22px;
    }
}

@media only screen and (max-width: 790px) {
    .asesor {
        font-size: 18px;
    }
    section.contenedor-asesoria {
        margin-bottom: 30px;
        padding: 20px;
        font-size: 20px;
        margin-top: 30px;
        min-width: 60%;
    }
    div.filas-asesoria {
        font-size: 12px;
        width: 100%;
    }
    div.columnas-asesoria {
        margin: 20px;
    }
    div.titulo p {
        font-size: 25px;
    }
    .horario-asesoria {
        font-size: 18px;
        background: rgb(116, 0, 62);
        padding: 2px 25px 2px 25px;
        border-radius: 3px;
    }
    .columnas-asesoria.texto {
        width: 40%;
        min-height: 40px;
    }
    .columnas-asesoria.btn a {
        padding: 5px;
        font-size: 22px;
    }
    .filas-asesoria.tres {
        font-size: 14px;
    }
}

.img {
    max-height: 100px;
    margin: 0px 15px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 18px;
    color: #74003e;
}

.flex {
    display: flex;
}